<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>Wineries</title>
  </head>
  <body>

  <!-- Nav Bar -->
    <% @wineregion_count = 1 %>    
<div class="jumbotron background">
<div class="container mt-5">
<div class="container main-contain" style="padding-top:0px;" >

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="font_thin navbar-nav mr-auto">
            <a class="navbar-brand font-less-thin" href="/"><i class="fas fa-wine-bottle"></i> Winery Guide<i class="fas fa-wine-bottle fa-flip-horizontal"></i></a>
                <!-- <li class="nav-item"> -->
                    <!-- <a class="nav-link" href="/">Home</a> -->
                <!-- </li> -->
                <% for region in @regions_table %>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= region[:description]%>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% for winery in @wineries %>
                                <% if winery[:reid] == @wineregion_count then%>
                                <a class="dropdown-item" href="/wineries/<%= winery[:wid] %>"><%= winery[:name] %></a>
                                <%end%>
                            <% end %>
                        </div>
                    </li>
                        
                    <% @wineregion_count =  @wineregion_count + 1 %>
                <% end %>
                <li class="nav-item">
                    <a class="nav-link" href="/all/wineries">All Wineries</a>
                </li>
                <% if @current_user.nil? %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/new">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logins/new">Sign In</a>
                </li>
                <%end%>


            <% if @current_user %>
                    <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Logged in as <%= @current_user[:fname]%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/account/<%=@current_user[:uid]%>">My Account</a>
                    <a class="dropdown-item" href="/logout" class="nav-link">Logout</a>   
                    </div>
                    </li>
            <% end %>
            </ul>
        </div>
        </div>
    </nav>

    <div class="container mt-5">
      <%= yield %>
    </div>
    <div class="container" style="padding-bottom: 50px;">
    </div>

</div>
</div>

   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>