<head>

<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Rating');
        data.addColumn('number', 'Visits');
        data.addRows([
          ['5', <%=@visits_table.where(:wid => params["wid"]).where(:rating => "5").count.to_i %>],
          ['4', <%=@visits_table.where(:wid => params["wid"]).where(:rating => "4").count.to_i %>],
          ['3', <%=@visits_table.where(:wid => params["wid"]).where(:rating => "3").count.to_i %>],
          ['2', <%=@visits_table.where(:wid => params["wid"]).where(:rating => "2").count.to_i %>],
          ['1', <%=@visits_table.where(:wid => params["wid"]).where(:rating => "1").count.to_i %>]
        ]);

        // Set chart options
        var options = {
                       'width':250,
                       'height':100,
                       'legend':'none',
                       colors: ['#8e048e'],
                       enableInteractivity: false,
                       hAxis: { textPosition: 'none',
                           gridlines: {count: '0'}}
                       };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
</head>

<div class="container box-float">
<div class="row">
    <div class="col-lg-7">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="font_less_thin"><%= @winery[:name] %><span class="pull-right" style="padding-left: 20px;">
                    <a href="/winery/<%= @winery[:wid] %>/check_in/new" class="btn btn-primary font_less_thin" style="padding: 4px; font-size: 15px;">Check In</a></span></h1>
                    <p class="font_thin"><%= @winery[:description] %></p>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top:30px;">
            <div class="row">
                <div class="col">
                    <h4 class="font_less_thin">Wines</h4>
                </div>      
            </div>
            <div class="row" style="padding-top:10px;">
                <% @winecategory_count = 1 %>
          
          <h5 class="border-bottom font_less_thin"></h5>
                        <% @wine_category = @winecategory_table.where([:wcid] => @winecategory_count).to_a[0] %>

          
                <% for categories in @winecategory_table %>
                    <div class="col">
                        <% @wine_category = @winecategory_table.where([:wcid] => @winecategory_count).to_a[0] %>
                        <h5 class="border-bottom font_less_thin"> <%= @wine_category[:description] %></h5>                        
                        <ul class="nobull">
                            <% for type in @winerywines_table%>
                                <% @wines_types = @winetypes_table.where(:wtid => type[:wtid]).where(:wcid => @winecategory_count).to_a[0]%>
                                <% unless @wines_types.nil? %>
                                <% @wines_types_sorted = @wines_types.sort %>
                                <li class="font_thin" style="font-size:15px;"><%= @wines_types[:description] %></li>
                            <% end %>
                        <%end%>

                        </ul>
                    </div>
                    <% @winecategory_count =  @winecategory_count + 1 %>
                <%end%>

                
                
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row">
            <div class="col">
                <img src="/images/<%=@winery[:image]%>.jpg" class="img-fluid" style="padding-bottom:10px;" alt="Responsive image">
                <img src="/images/<%=@winery[:image]%>1.jpg" class="img-fluid" style="padding-bottom:10px;" alt="Responsive image">
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-7">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h5 class="font_less_thin" style="margin-bottom: 0.5rem; margin-top: 1.5rem;">Reviews<span class="pull-right" style="padding-left: 10px;">
                        <% if @avg_rating == 5 %>
                            <a style="font-size:15px"><i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> </a>
                        <%elsif @avg_rating == 4 %>
                            <a style="font-size:15px"><i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="far fa-star review"></i> </a>
                        <%elsif @avg_rating == 3 %>
                            <a style="font-size:15px"><i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> </a>
                        <%elsif @avg_rating == 2 %>
                            <a style="font-size:15px"><i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> </a>
                        <%elsif @avg_rating == 1 %>
                            <a style="font-size:15px"><i class="fas fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> </a>
                        <%else%>
                            <a style="font-size: 12px;">Rating: <%= @avg_rating %></a>
                        <%end%>
                        <a style="font-size:17px" class="font_less_thin">(<%= @visit_count %>)</a>
                    </span></h5>
                </div>
                <div class="col-lg">
                <div id="chart_div"></div>
                </div>
            </div>
        </div>
            <% for comment in @review %>
                <div class="container border-top">
                <% @reviewers = @users_table.where(:uid => comment[:uid]).to_a[0]%>
                <% unless @reviewers.nil? %>
                    <div style="padding-top:5px;">
                        <% if comment[:rating] == 5 %>
                            <a style="font-size:15px"><i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> </a>
                        <%elsif comment[:rating] == 4 %>
                            <a style="font-size:15px"><i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="far fa-star review"></i> </a>
                        <%elsif comment[:rating] == 3 %>
                            <a style="font-size:15px"><i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> </a>
                        <%elsif comment[:rating] == 2 %>
                            <a style="font-size:15px"><i class="fas fa-star review"></i> <i class="fas fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> </a>
                        <%elsif comment[:rating] == 1 %>
                            <a style="font-size:15px"><i class="fas fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> <i class="far fa-star review"></i> </a>
                        <%else%>
                            <a style="font-size: 12px;">Rating: <%= comment[:rating] %></a>
                        <%end%>
                    <p class="font_thin" style="padding-top:5px; padding-bottom:5px; margin-bottom: 0rem;"><%= comment[:review] %></p>
                    <% if @current_user.nil? %>
                        <p class="font_thin" style="text-align:right; margin-bottom: 0.5rem; margin-block-start: 0em; font-style: italic; font-size:15px">name hidden</p>
                    <%else%>
                        <p class="font_thin" style="text-align:right; margin-bottom: 0.5rem; margin-block-start: 0em; font-style: italic; font-size:15px">-<%= @reviewers[:fname]%> <%= @reviewers[:lname]%></p>
                    <%end%>
                    </div>
                <%end%>
                </div>
            <% end %>
        </div>

    <div class="col-md-5">
        <div class="map-responsive">
            <iframe
                width="435"
                height="250"
                frameborder="0" 
                style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= @winery[:name]%> + <%= @winery[:address1]%>+<%= @winery[:city]%> + <%= @winery[:state]%> + <%= @winery[:zip]%>&zoom=15" allowfullscreen>
            </iframe>
        </div>
            <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=<%= @winery[:name]%>+<%= @winery[:address1]%>+<%= @winery[:city]%> + <%= @winery[:state]%> + <%= @winery[:zip]%>"><%= @winery[:address1]%>, <%= @winery[:city]%>, <%= @winery[:state]%> <%= @winery[:zip]%></a>
            <div class="row" style="padding-top: 10px;" >
                <div class="col">
                    <span>
                    <a class="btn btn-primary font_less_thin" target="_blank" href= "<%=@website%>" role="button" style="padding: 4px; font-size: 12px;">Visit Website</a>
                    <% if @button_push.nil? %>
                        <a class="btn btn-primary font_less_thin" href= "/send_text/<%= params[:wid] %>" role="button" style="padding: 4px; font-size: 12px;">Send Link to my Phone</a>
                    <% else %>
                        <% if @button_push == "1" %>
                            <a style="color: red;" href= "/logins/new"><i class="fas fa-times"></i> You need to sign in first</a>
                        
                        <% elsif @button_push == "3" %>
                            <a style="color: red;"><i class="fas fa-times"></i> Your phone number doesn't match the test number, please refer to the assignment submission notes</a>
                        
                        <% elsif @button_push == "2" %>
                            <a style="color: green;"> Your message has been sent <i class="fas fa-check"></i></a>
                        <% else %>
                        <%end%>
                    <% end %>
                    </span>
                </div>
            </div>
    </div>
</div>



</div>
</div>
</div>